/* pages/read/read.wxss */
.read-container{
  position: relative;
}

.top-container{
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #2487FF;
}

.title{
  padding: 20rpx 30rpx 50rpx 30rpx;
  font-size: 60rpx;
  color:#fff;
  font-weight: 700;
}

.read-container{
  margin-top: 300rpx;
  background-color: #fff;
  border-radius: 40rpx 40rpx 0 0;
  box-shadow: 0rpx -10rpx 0rpx 0rpx rgb(27, 101, 191);
  z-index: 99999;
}

.content{
 padding-top: 30rpx;
 font-weight: 400;
 font-size: 40rpx;
 line-height: 54rpx;
 color:#000;
}

.bottom-info{
  position: fixed;
  bottom: 50rpx;
  right: 30rpx;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-info{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.head-image{
  width: 44rpx;
  height: 44rpx;
  border: solid 1rpx #000000;
  border-radius: 30rpx;
}

.user-name{
  font-weight: 400;
  color: #1e293b;
  margin-left: 10rpx;
  font-size: 32rpx;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.send-text{
  margin-left: 10rpx;
  font-size: 24rpx;
  color: #a6a6a6;
}

.pack-time{
  color: #2487FF;
  margin-top: 10rpx;
  font-weight: 700;
  font-size: 32rpx;
}

.pack-time-text{
  color: #18191f;
}

