/* pages/list/list.wxss */
.search-input {
  font-size: 40rpx;
  margin: 10rpx 40rpx;
  box-sizing: border-box;
  border: 8rpx solid rgb(24, 25, 31);
  border-radius: 90rpx;
  box-shadow: 0rpx 5rpx 0rpx 0rpx rgb(24, 25, 31);
  height: 2.2em;
  padding: .2em 1em;
  display: flex;
  input {
    width: 100%;
  }
  button {
    flex: 1;
  }
}


